@mixin h_title {
	text-align: left;
	font-size: 25px;
	padding: 10px;
}

/*/ mixins de la page d'accueil en mobile/*/

@mixin img_resto { 
	position: relative;
	border-radius: 20px 20px 0px 0px;
	width: 100%;
}

@mixin bloc_resa { /*/ Concerne les "bloc_resa, description, reservation" /*/
	text-align: center;
	font-family: "Roboto-Regular";
}


@mixin conteneur { 
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 20px 20px 0px 0px;
}

/*/ Mixins des pages menus en mobile /*/

@mixin menu_frame { 
	background-color: #eee8e3;
	border-radius: 40px 40px 0px 0px;
	z-index: 2;
	width: 100%;
	//bottom: 43px;
	position: relative;
	padding-top: 40px;
	bottom: 40px;
	padding-bottom: 40px;
}

@mixin contenant { 
	background-color: white;
	width: 325px;
	cursor: pointer;
	margin: 20px;
	padding-left: 15px;
	max-height: 80px;
	border-radius: 20px 20px 20px 20px;
	display: flex;
	overflow: hidden;
}


@mixin icone_like {
	position: absolute;
	margin-left: 260px;
	font-size: 30px;
}

/*/ mixins de la page d'accueil en desktop/*/

@mixin reservation {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: "Roboto-Regular";
}


@mixin i {
	padding-bottom: 10px;
	background-color: #f7f7f7;
	margin-right: 20px;
	position: relative;
	right: 235px;
}

@mixin image_resto {
	width: 700px;
	height: 300px;
	border-radius: 20px 20px 0px 0px;
}

@mixin icone_like_homepage {
	position: absolute;
	right: 68px;
	top: 10px;
	font-size: 30px;
}

/*/ mixins de la pages des menus en desktop/*/

@mixin image_conteneur {
	width: 100%;
	position: relative;
	border-radius: 20px 20px 0px 0px;
}

@mixin contenant {
	background-color: white;
	cursor: pointer;
	margin: 20px;
	padding-left: 15px;
	max-height: 80px;
	border-radius: 30px 30px 30px 30px;
	display: flex;
	overflow: hidden;
}

/*/ mixins de la page d'accueil en tablette /*/

@mixin slide {
	margin-left: 20px;
	position: relative;
	left: 19px;
	height: 70px;
	line-height: 74px;
	box-shadow: 2px 3px 12px rgba(0,0,0,0.2);
	font-family: "Roboto-Regular";
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-bottom: 25px;
	padding-bottom: 10px;
	border-radius: 20px 20px 20px 20px;
	font-size: 20px;
	text-align: center;
	width: 90%;
}

@mixin image_resto {
	width: 700px;
	height: 300px;
	border-radius: 20px 20px 0px 0px;
}

@mixin resa {
	text-align: center;
	font-size: 25px;
	font-family: "Roboto-Regular";
}


/*/ mixins des pages menus en tablette /*/


@mixin les_contenants {
	background-color: white;
	cursor: pointer;
	margin: 20px;
	padding-left: 15px;
	max-height: 80px;
	border-radius: 30px 30px 30px 30px;
	display: flex;
	overflow: hidden;
}