@mixin h_title {
	text-align: left;
	font-size: 25px;
	padding: 10px;
}

/*/ mixins de la page d'accueil en mobile/*/

@mixin img_resto { 
	position: relative;
	border-radius: 20px 20px 0px 0px;
	width: 100%;
}

@mixin bloc_resa { /*/ Concerne les "bloc_resa, description, reservation" /*/
	text-align: center;
	font-family: "Roboto-Regular";
}

@mixin lieu { 
	font-family: "Roboto-Regular";
	text-align: left;
	font-weight: normal;
	position: relative;
	line-height: 35px;
	top: 15px;
	font-size: 15px;
}

@mixin conteneur { 
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 20px 20px 0px 0px;
}

/*/ Mixins des pages menus en mobile /*/

@mixin menu_frame { 
	background-color: #eee8e3;
	border-radius: 40px 40px 0px 0px;
	z-index: 2;
	width: 100%;
	//bottom: 43px;
	position: relative;
	padding-top: 40px;
	bottom: 40px;
	padding-bottom: 40px;
}

@mixin contenant { 
	background-color: white;
	width: 325px;
	cursor: pointer;
	margin: 20px;
	padding-left: 15px;
	max-height: 80px;
	border-radius: 20px 20px 20px 20px;
	display: flex;
	overflow: hidden;
}

@mixin alimentaire {
	font-family: "Roboto-Regular";
	font-size: 15px;
}

