@import 'base/font'; 
/*/ Import accueil css /*/

@import 'pages/accueil/desktop', 'pages/accueil/mobile', 'pages/accueil/tablette';

@import 'pages/menus/desktop', 'pages/menus/mobile', 'pages/menus/tablette';

@import 'layout/header/desktop', 'layout/header/mobile', 'layout/header/tablette';

@import 'layout/footer/desktop', 'layout/footer/mobile', 'layout/footer/tablette';

@import 'components/boutons/desktop', 'components/boutons/mobile', 'components/boutons/tablette';





/*/-------------- Media Smartphone -----------------/*/
@media only screen and (max-width: 480px) {
    

    body {
        margin: 0px;
    }

    h2 {
        font-size: 25px;
        position: relative;
        left: 18px;
        font-weight: bold;
        text-align: left;
        font-family: "Roboto-Regular";
        bottom: 27px;
        margin-top: 24px;
    }

    h3 {
        font-size: 25px;
        position: relative;
        left: 18px;
        font-weight: bold;
        text-align: left;
        font-family: "Roboto-Regular";
        bottom: 24px;
    }
   
    h4 {
        font-family: "Shrikhand-Regular";
        text-align: left;
        font-size: 20px;
        color: white;
        padding-top: 25px;
        padding: 10px;
        padding-left: 30px;
        font-weight: 100;
    }

    
/*/------------------------- Media Tablettes ----------------------------------/*/
@media only screen and (min-width:481px) and (max-width:1149px) {

    h2 {
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 25px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: "Roboto-Regular";
        position: relative;
        left: 10px;
    }

    h3 {
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 25px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: "Roboto-Regular";
        position: relative;
        left: 10px;
    }

    h4 {
        font-family: "Shrikhand-Regular";
        text-align: left;
        font-size: 25px;
        color: white;
        font-weight:100;
        margin-bottom: 8px;
        margin-left: 21px;
        padding: 10px;
        font-weight: 100;
    }

/*/--------------------------------- Media PC -----------------------------------/*/
@media only screen and (min-width:1150px) {

    h2 {
        font-size: 30px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 25px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: "Roboto-Regular";
        position: relative;
        left: 10px;
    }

    h3 {
        font-family: "Shrikhand-Regular";
        text-align: left;
        font-size: 25px;
        color: white;
        font-weight: 100;
        margin-bottom: 20px;
        padding: 10px;
        font-weight: 100;
    }
}
}
}

    
