/*/Page principale*/

@font-face {
    font-family: "Shrikhand-Regular"; src: url('..style/Shrikhand-Regular.otf');
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: Shrikhand-Regular;
}

.name {
    width: 200px;
    height: 200px;
}

.localisation {
    height: 50px;
    background-color: #ededed;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
}


.bloc_resa {
    background-color: #E5EFE7;
}

.reservation {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.description {
    text-align: center;
    font-size: 25px;
}

.btn_explorer {
    text-align: center;
    background-image: linear-gradient(#ff79da, #9356dc);
    border-radius: 30px;
    color: white;
    padding: 10px 40px;
    width: 100px;
    text-decoration: none;
}

h2 {
    font-size: 25px;
    font-weight: bold;
   text-align: left;
    margin-bottom: 25px;
    padding-bottom:10px;
    padding-top: 10px;
}

.bloc_fonctionnement{
    background-color: white;
}

.slide {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background-color: #f7f7f7;
    margin-left: 20px;
}

.icones_fonctionnement{
    color: grey;
    margin-right: 20px;
    
}

.rond {
    color: #9356dc;
    font-size: 20px;
    margin-top: 10px;
}

.resto {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

.img_resto {
    width: 365px;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
}

.btn_new {
    background-color: #99E2D0;
    color: #008766;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 30px;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    

}

.frame {
    width: 375px;
    height: 375px;
    height: 275px;
    border-radius: 20px 20px 20px 20px;
    background: white;
    margin: 0 0 15px 0;
    margin-bottom: 15px;
}

.icone_like:hover {
    text-align: right;
    font-size: 18px;
    background-image: linear-gradient(#FF79DA, #9356DC);
}
.icone_like{
    text-align: right;
}

.lieu {
    text-align: left;
    font-weight: normal;
}
.bloc_resto {
    background-color: #E8EDF2;
    width: 375px;
}

footer {
    background-color: #3B444C;
    color: white;
    font-size: 20px;
    text-align: left;
    
    margin: 5px;
    width: 100%;
    height: 220px;
}

.numero {
    display: block;
    width: 30px;
    height: 30px;
    border: solid;
    border-radius: 100%;
    background-color: #9356DC;
    color: white;
    text-align: center;  
 }

.contenu {
    text-align: right;
    padding: 10px;
}

h3 {
    font-family:"Shrikhand-Regular";
    text-align: left;
    font-size: 20px;
    font-family: Shrikhand-Regular;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
}

.icones_footer {
    color: white;
    padding: 10px;
}

/*/Menu 1-2-3-4*/

.img_menu1 {
    width: 365px;
    height: 175px;
}

.menu_frame {
    background-color: #EEE8E3;
    border-radius: 20px 20px 0px 0px;
}

.contenant {
    background-color: white;
    width: 350px;
    height: 50px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
}

.nom_entree{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.ingredient{
    font-size: 15px;
    font-weight: normal;
    text-align:left;
}


.entree{
    color: black;
    font-size: 15px;
    text-align: left;
    padding: 10px;
}

.soulignement {
    height: 3px;
    width: 40px;
    visibility: visible;
    position: relative;
    background-color: #99E2D0;
    
}

.nom_plat {
    font-size: 20px;
    font-weight: bold;
}

.plat {
    color: black;
    font-size: 15px;
    text-align: left;
    padding: 10px;
}

.dessert {
    color: black;
    font-size: 15px;
    text-align: left;
    padding: 10px;
}

.nom_dessert {
    font-size: 20px;
    font-weight: bold;
}

.btn_commander {
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    font-size: 15px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    width: 180px;
    height: 55px;
}

