@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../style/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../style/Roboto-Regular.ttf");
}
/*/---------------------------------------------------------------------------------------------------- Media Smartphone -----------------------------------------------------------------------------------------------------------------/*/
@media only screen and (max-width: 480px) {
  /*/--------- Page Principale----------/*/
  body {
    margin: 0px;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Shrikhand-Regular";
    z-index: 3;
    position: relative;
    background: white;
    margin: 0px;
    height: 50px;
    line-height: 50px;
  }

  .localisation {
    height: 40px;
    background-color: #ededed;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
    box-shadow: 0px -1px 0px grey;
    position: relative;
    font-family: "Roboto-Regular";
  }

  .bloc_resa {
    background-color: #e9e8e2;
    text-align: center;
    width: 100%;
    position: relative;
    font-family: "Roboto-Regular";
  }

  .reservation {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 25px;
    font-family: "Roboto-Regular";
  }

  .reservation2 {
    position: relative;
    bottom: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 25px;
    font-family: "Roboto-Regular";
  }

  .description {
    text-align: center;
    font-size: 15px;
    font-family: "Roboto-Regular";
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
    bottom: 26px;
  }

  .description2 {
    position: relative;
    bottom: 44px;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto-Regular";
  }

  .btn_explorer {
    width: auto;
    text-align: center;
    background-image: linear-gradient(#ff79da, #9356dc);
    border-radius: 30px;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 2px 2px grey;
    bottom: 35px;
    position: relative;
    font-family: "Roboto-Regular";
  }

  h2 {
    font-size: 25px;
    position: relative;
    left: 18px;
    font-weight: bold;
    text-align: left;
    font-family: "Roboto-Regular";
    bottom: 27px;
  }

  .bloc_fonctionnement {
    background-color: white;
    background-color: white;
    position: relative;
    padding-bottom: 40px;
    padding-top: 12px;
  }

  .slide {
    font-family: "Roboto-Regular";
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    text-align: center;
    width: 94%;
    background-color: #f7f7f7;
    margin-left: 20px;
    position: relative;
    height: 70px;
    line-height: 74px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .slide3 {
    font-family: "Roboto-Regular";
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    text-align: center;
    width: 94%;
    background-color: #9356dc26;
    margin-left: 20px;
    position: relative;
    height: 70px;
    line-height: 74px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .icones_fonctionnement {
    color: grey;
    margin-right: 22px;
  }

  .icones_fonctionnement3 {
    color: #9356dc;
    margin-right: 22px;
  }

  .rond {
    color: #9356dc;
    font-size: 20px;
    margin-top: 10px;
  }

  .resto {
    font-size: 17px;
    font-weight: bold;
    font-family: "Roboto-Regular";
    text-align: left;
    position: relative;
    right: 18px;
    bottom: 5px;
  }

  .img_resto_1 {
    width: 100%;
    bottom: -14px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
  }

  .img_resto_2 {
    width: 100%;
    position: relative;
    bottom: 163px;
    border-radius: 20px 20px 0px 0px;
  }

  .img_resto_3 {
    width: 100%;
    position: relative;
    bottom: 68px;
    border-radius: 20px 20px 0px 0px;
  }

  .img_resto_4 {
    width: 100%;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    bottom: 75px;
  }

  .btn_new1 {
    font-family: "Roboto-Regular";
    background-color: #99e2d0;
    color: #008766;
    justify-content: center;
    display: flex;
    width: 77px;
    height: 27px;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    position: absolute;
    top: 19px;
    right: 23px;
    line-height: 30px;
    font-size: 15px;
  }

  .btn_new2 {
    font-family: "Roboto-Regular";
    background-color: #99e2d0;
    color: #008766;
    justify-content: center;
    display: flex;
    width: 77px;
    height: 27px;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    position: absolute;
    top: 19px;
    right: 23px;
    line-height: 30px;
    font-size: 15px;
  }

  .frame {
    width: 345px;
    height: 228px;
    border-radius: 15px 15px 15px 15px;
    background: white;
    margin-bottom: 24px;
    bottom: 15px;
    position: relative;
    left: 15px;
  }

  .icone_like_homepage:hover {
    position: relative;
    top: 3px;
    left: 285px;
    font-size: 20px;
    background-image: linear-gradient(#ff79da, #9356dc);
  }

  .icone_like_homepage {
    position: relative;
    top: 3px;
    left: 285px;
    font-size: 20px;
  }

  .lieu_1 {
    font-family: "Roboto-Regular";
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 15px;
    right: 156px;
    font-size: 15px;
  }

  .lieu_2 {
    font-family: "Roboto-Regular";
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 15px;
    right: 162px;
    font-size: 15px;
  }

  .lieu_3 {
    font-family: "Roboto-Regular";
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 15px;
    right: 127px;
    font-size: 15px;
  }

  .lieu_4 {
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 15px;
    right: 160px;
    font-size: 15px;
  }

  .bloc_resto {
    background-color: #e9e8e2;
    width: 100%;
    padding-top: 57px;
    position: relative;
    top: 25px;
  }

  footer {
    font-family: "Roboto-Regular";
    background-color: #3b444c;
    color: white;
    font-size: 20px;
    text-align: left;
    width: 100%;
    height: 225px;
  }

  .numero {
    display: block;
    width: 30px;
    height: 30px;
    border: solid;
    border-radius: 100%;
    background-color: #9356dc;
    color: white;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: calc((70px - 30px) / 2);
    left: -15px;
    font-size: 17px;
  }

  .contenu {
    padding: 10px;
  }

  h3 {
    font-family: "Shrikhand-Regular";
    text-align: left;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    top: 15px;
    right: -20px;
  }

  .icones_footer1 {
    color: white;
    padding: 10px;
    position: relative;
    top: 5px;
    right: 1px;
  }

  .icones_footer2 {
    color: white;
    padding: 9px;
    position: relative;
    top: 5px;
    right: 1px;
    margin-right: 2px;
  }

  footer li {
    list-style: none;
    position: relative;
    top: 1px;
    right: 7px;
    line-height: 29px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  footer li i {
    margin-right: 10px;
    margin-left: -10px;
  }

  .contact {
    text-decoration: none;
    color: white;
    color: white;
  }

  .img_conteneur1 {
    width: 100%;
    height: 165px;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }

  .img_conteneur2 {
    width: 100%;
    height: 154px;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }

  .img_conteneur3 {
    width: 100%;
    height: 154px;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }

  .img_conteneur4 {
    width: 100%;
    height: 154px;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }

  /*/------------Menu 1-2-3-4------------/*/
  .fleche {
    position: relative;
    bottom: 0px;
    right: 75px;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }

  .img_menu1 {
    width: 100%;
    margin-top: 6px;
    z-index: 2;
    position: relative;
  }

  .img_menu2 {
    width: 100%;
    margin-top: 6px;
    z-index: 2;
    position: relative;
    margin-top: -100px;
  }

  .img_menu4 {
    width: 100%;
    margin-top: 6px;
    z-index: 2;
    position: relative;
    margin-top: 5px;
  }

  .icone_like_menus {
    position: relative;
    left: 65px;
    font-size: 22px;
  }

  .icone_like_menus:hover {
    position: relative;
    left: 65px;
    font-size: 22px;
    background-color: linear-gradient(#ff79da, #9356dc);
  }

  .entete_resto {
    font-family: "Shrikhand-Regular";
    font-size: 23px;
    margin-bottom: 2px;
    padding-top: 22px;
    padding-bottom: 17px;
    position: relative;
    left: 32px;
    top: 6px;
  }

  .menu_frame1 {
    background-color: #eee8e3;
    border-radius: 40px 40px 0px 0px;
    z-index: 2;
    width: 100%;
    position: relative;
    padding-top: 40px;
    bottom: 40px;
    padding-bottom: 40px;
  }

  .menu_frame2 {
    background-color: #eee8e3;
    border-radius: 40px 40px 0px 0px;
    z-index: 2;
    width: 100%;
    position: relative;
    padding-top: 40px;
    bottom: 40px;
    padding-bottom: 40px;
    margin-top: -117px;
  }

  .menu_frame4 {
    background-color: #eee8e3;
    border-radius: 40px 40px 0px 0px;
    z-index: 2;
    width: 100%;
    position: relative;
    padding-top: 40px;
    bottom: 40px;
    padding-bottom: 40px;
    margin-top: -15px;
  }

  .contenant_1 {
    background-color: white;
    width: 325px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 10px;
    position: relative;
    left: 16px;
    transition-delay: 100ms;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari et Chrome */
    -o-animation: fadein 1s;
    /* Opera */
  }

  .contenant_2 {
    background-color: white;
    width: 325px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 10px;
    position: relative;
    left: 16px;
    transition-delay: 105ms;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari et Chrome */
    -o-animation: fadein 2s;
    /* Opera */
  }

  .contenant_3 {
    background-color: white;
    width: 325px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 10px;
    position: relative;
    left: 16px;
    transition-delay: 110ms;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari et Chrome */
    -o-animation: fadein 3s;
    /* Opera */
  }

  .contenant_4 {
    background-color: white;
    width: 325px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 10px;
    position: relative;
    left: 16px;
    transition-delay: 115ms;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    /* Firefox */
    -webkit-animation: fadein 4s;
    /* Safari et Chrome */
    -o-animation: fadein 4s;
    /* Opera */
  }

  .contenant_5 {
    background-color: white;
    width: 325px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 10px;
    position: relative;
    left: 16px;
    transition-delay: 120ms;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    /* Firefox */
    -webkit-animation: fadein 5s;
    /* Safari et Chrome */
    -o-animation: fadein 5s;
    /* Opera */
  }

  .contenant_6 {
    background-color: white;
    width: 325px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 10px;
    position: relative;
    left: 16px;
    transition-delay: 125ms;
    animation: fadein 6s;
    -moz-animation: fadein 6s;
    /* Firefox */
    -webkit-animation: fadein 6s;
    /* Safari et Chrome */
    -o-animation: fadein 4s;
    /* Opera */
  }

  .contenant_7 {
    background-color: white;
    width: 325px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 10px;
    position: relative;
    left: 16px;
    transition-delay: 130ms;
    animation: fadein 7s;
    -moz-animation: fadein 7s;
    /* Firefox */
    -webkit-animation: fadein 7s;
    /* Safari et Chrome */
    -o-animation: fadein 7s;
    /* Opera */
  }

  .contenant_8 {
    background-color: white;
    width: 325px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 10px;
    position: relative;
    left: 16px;
    transition-delay: 135ms;
    animation: fadein 8s;
    -moz-animation: fadein 8s;
    /* Firefox */
    -webkit-animation: fadein 8s;
    /* Safari et Chrome */
    -o-animation: fadein 8s;
    /* Opera */
  }

  .contenant_9 {
    background-color: white;
    width: 325px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 10px;
    position: relative;
    left: 16px;
    transition-delay: 140ms;
    animation: fadein 9s;
    -moz-animation: fadein 9s;
    /* Firefox */
    -webkit-animation: fadein 9s;
    /* Safari et Chrome */
    -o-animation: fadein 9s;
    /* Opera */
  }

  .contenant_10 {
    background-color: white;
    width: 325px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-top: 10px;
    position: relative;
    left: 16px;
    transition-delay: 145ms;
    animation: fadein 10s;
    -moz-animation: fadein 10s;
    /* Firefox */
    -webkit-animation: fadein 10s;
    /* Safari et Chrome */
    -o-animation: fadein 10s;
    /* Opera */
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* sur Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* sur Safari et Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* sur Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .nom_entree {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    font-family: "Roboto-Regular";
  }

  .ingredient {
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    font-family: "Roboto-Regular";
  }

  .entree {
    font-family: "Roboto-Regular";
    color: black;
    font-size: 15px;
    text-align: left;
    position: relative;
    top: 7px;
    left: 32px;
    padding-top: 25px;
    padding-bottom: 5px;
  }

  .soulignement {
    height: 3px;
    width: 40px;
    visibility: visible;
    position: relative;
    background-color: #99e2d0;
    top: 5px;
  }

  .nom_plat {
    font-family: "Roboto-Regular";
    font-size: 15px;
    font-weight: bold;
  }

  .plat {
    font-family: "Roboto-Regular";
    color: black;
    font-size: 15px;
    text-align: left;
    position: relative;
    top: 7px;
    left: 32px;
    padding-bottom: 5px;
  }

  .dessert {
    font-family: "Roboto-Regular";
    color: black;
    font-size: 15px;
    text-align: left;
    position: relative;
    top: 7px;
    left: 32px;
    padding-bottom: 5px;
  }

  .nom_dessert {
    font-family: "Roboto-Regular";
    font-size: 15px;
    font-weight: bold;
  }

  .btn_commander {
    font-family: "Roboto-Regular";
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    font-size: 15px;
    background-image: linear-gradient(#ff79da, #9356dc);
    width: 180px;
    height: 55px;
    border: none;
    position: relative;
    top: 10px;
    bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  header {
    z-index: 1;
    position: relative;
  }

  .price {
    font-family: "Roboto-Regular";
    font-weight: bold;
    position: relative;
    left: 260px;
    bottom: 19px;
  }

  .bloc_vert {
    position: relative;
    left: 30px;
    right: 0px;
    overflow: hidden;
    background-color: #99e2d0;
  }

  .bloc_vert:hover {
    right: 0px;
    transition: right 2s;
    background-color: #99e2d0;
  }
}
/*/-------------------------------------------------------------------------------------------- Media Tablettes -----------------------------------------------------------------------------------------------------------------------/*/
@media only screen and (min-width: 481px) and (max-width: 1149px) {
  /*/-------------------- Page Principale --------------------/*/
  h1 {
    text-align: center;
    font-size: 35px;
    font-family: Shrikhand-Regular;
  }

  .name {
    width: 200px;
    height: 200px;
  }

  .localisation {
    height: 50px;
    background-color: #ededed;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
  }

  .bloc_resa {
    padding-bottom: 50px;
    background-color: #E5EFE7;
    text-align: center;
    width: 100%;
  }

  .reservation {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
  }

  .reservation2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .description {
    text-align: center;
    font-size: 25px;
    font-family: Roboto-Regular;
  }

  .description2 {
    text-align: center;
    font-size: 25px;
    font-family: Roboto-Regular;
    position: relative;
    bottom: 15px;
  }

  .btn_explorer {
    width: 30%;
    text-align: center;
    background-image: linear-gradient(#ff79da, #9356dc);
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 2px grey;
  }

  h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Shrikhand-Regular;
    position: relative;
    left: 10px;
  }

  .bloc_fonctionnement {
    background-color: white;
  }

  .slide {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    text-align: center;
    width: 90%;
    background-color: #f7f7f7;
    margin-left: 20px;
    position: relative;
    left: 19px;
    height: 70px;
    line-height: 74px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .slide3 {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    text-align: center;
    width: 90%;
    background-color: #9356dc26;
    margin-left: 20px;
    position: relative;
    left: 19px;
    height: 70px;
    line-height: 74px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .icones_fonctionnement {
    color: grey;
    margin-right: 20px;
    position: relative;
    right: 250px;
  }

  .icones_fonctionnement3 {
    color: #9356dc;
    margin-right: 20px;
    position: relative;
    right: 250px;
  }

  .rond {
    color: #9356dc;
    font-size: 20px;
    margin-top: 10px;
  }

  .resto {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    position: relative;
    right: 8px;
    top: 160px;
  }

  main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .img_resto_1 {
    width: 700px;
    height: 300px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
  }

  .img_resto_2 {
    width: 700px;
    height: 300px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }

  .img_resto_3 {
    width: 700px;
    height: 300px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
  }

  .img_resto_4 {
    width: 700px;
    height: 300px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
  }

  .btn_new1 {
    background-color: #99E2D0;
    color: #008766;
    justify-content: center;
    display: flex;
    width: 110px;
    height: 30px;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 30px;
    line-height: 30px;
  }

  .btn_new2 {
    background-color: #99E2D0;
    color: #008766;
    justify-content: center;
    display: flex;
    width: 110px;
    height: 30px;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 30px;
    line-height: 30px;
  }

  .frame {
    width: 700px;
    height: 400px;
    border-radius: 20px 20px 20px 20px;
    background: white;
    margin: 0 0 15px 0;
    margin-bottom: 50px;
    position: relative;
    left: 155px;
  }

  .icone_like:hover {
    text-align: right;
    font-size: 25px;
    top: 13px;
    left: 317px;
    background-image: linear-gradient(#FF79DA, #9356DC);
  }

  .icone_like_homepage:hover {
    text-align: right;
    position: relative;
    top: 170px;
    left: 600px;
    font-size: 25px;
    background-image: linear-gradient(#ff79da, #9356dc);
  }

  .icone_like_homepage {
    text-align: right;
    position: relative;
    top: 170px;
    left: 600px;
    font-size: 25px;
  }

  .lieu_1 {
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 190px;
    right: 250px;
    font-size: 20px;
  }

  .lieu_2 {
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 188px;
    right: 252px;
    font-size: 20px;
  }

  .lieu_3 {
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 190px;
    right: 193px;
    font-size: 20px;
  }

  .lieu_4 {
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 190px;
    right: 245px;
    font-size: 20px;
  }

  .bloc_resto {
    background-color: #F2EBEA;
    width: 100%;
  }

  footer {
    background-color: #3B444C;
    color: white;
    font-size: 20px;
    text-align: left;
    margin: 5px;
    width: 100%;
    height: 690px;
  }

  .numero {
    display: block;
    width: 30px;
    height: 30px;
    border: solid;
    border-radius: 100%;
    background-color: #9356DC;
    color: white;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: calc((70px - 30px)/2);
    left: -15px;
  }

  .contenu {
    padding: 10px;
  }

  h3 {
    font-family: "Shrikhand-Regular";
    text-align: left;
    font-size: 25px;
    color: white;
    font-weight: 100;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    top: 15px;
    right: -20px;
  }

  .icones_footer1 {
    color: white;
    padding: 10px;
    position: relative;
    top: 5px;
    right: 1px;
  }

  .icones_footer2 {
    color: white;
    padding: 5px;
    position: relative;
    top: 5px;
    right: 1px;
  }

  footer li {
    list-style: none;
    position: relative;
    right: 7px;
    line-height: 30px;
  }
  footer li i {
    margin-right: 10px;
    margin-left: -10px;
  }

  .contact {
    text-decoration: none;
    color: white;
    color: white;
  }

  .img_conteneur1 {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }

  .img_conteneur2 {
    width: 100%;
    height: 154px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }

  .img_conteneur3 {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }

  .img_conteneur4 {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }

  .img_conteneur5 {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }

  /*/-------------------Menu 1-2-3-4------------------/*/
  .fleche {
    position: relative;
    right: 369px;
    font-size: 35px;
    text-decoration: none;
    color: black;
  }

  .img_menu1 {
    width: 100%;
    height: 530px;
  }

  .img_menu2 {
    width: 100%;
    height: 530px;
  }

  .img_menu3 {
    width: 100%;
    height: 530px;
  }

  .img_menu4 {
    width: 100%;
    height: 530px;
  }

  .menu_frame1 {
    background-color: #EEE8E3;
    border-radius: 65px 65px 0px 0px;
    margin-top: -110px;
    z-index: 2;
    position: relative;
  }

  .menu_frame2 {
    background-color: #EEE8E3;
    border-radius: 65px 65px 0px 0px;
    margin-top: -110px;
    z-index: 2;
    position: relative;
  }

  .menu_frame3 {
    background-color: #EEE8E3;
    border-radius: 65px 65px 0px 0px;
    margin-top: -110px;
    z-index: 2;
    position: relative;
  }

  .menu_frame4 {
    background-color: #EEE8E3;
    border-radius: 65px 65px 0px 0px;
    margin-top: -110px;
    z-index: 2;
    position: relative;
  }

  .entete_resto {
    font-family: "Shrikhand-Regular";
    font-size: 35px;
    position: relative;
    left: 340px;
    top: 18px;
  }

  .icone_like_menus {
    position: relative;
    left: 235px;
    font-size: 30px;
  }

  .icone_like_menus:hover {
    position: relative;
    left: 235px;
    font-size: 30px;
    background-color: linear-gradient(#ff79da, #9356dc);
  }

  .contenant_1 {
    background-color: white;
    width: 95%;
    height: 80px;
    margin-left: 20px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    bottom: 35px;
  }

  .contenant_2 {
    background-color: white;
    width: 95%;
    height: 80px;
    margin-left: 20px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    bottom: 35px;
  }

  .contenant_3 {
    background-color: white;
    width: 95%;
    height: 80px;
    margin-left: 20px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    bottom: 35px;
  }

  .contenant_4 {
    background-color: white;
    width: 95%;
    height: 80px;
    margin-left: 20px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    bottom: 35px;
  }

  .legumes {
    position: relative;
    bottom: 25px;
    left: 302px;
  }

  .noire {
    position: relative;
    bottom: 25px;
    left: 308px;
  }

  .contenant_5 {
    background-color: white;
    width: 95%;
    height: 80px;
    margin-left: 20px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    bottom: 35px;
  }

  .contenant_6 {
    background-color: white;
    width: 95%;
    height: 80px;
    margin-left: 20px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    bottom: 35px;
  }

  .contenant_7 {
    background-color: white;
    width: 95%;
    height: 80px;
    margin-left: 20px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    bottom: 35px;
  }

  .contenant_8 {
    background-color: white;
    width: 95%;
    height: 80px;
    margin-left: 20px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    bottom: 35px;
  }

  .contenant_9 {
    background-color: white;
    width: 95%;
    height: 80px;
    margin-left: 20px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    bottom: 35px;
  }

  .contenant_10 {
    background-color: white;
    width: 95%;
    height: 80px;
    margin-left: 20px;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    bottom: 35px;
  }

  .nom_entree {
    font-family: "Roboto-Regular";
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 15px;
    position: relative;
    top: 10px;
  }

  .ingredients {
    font-family: "Roboto-Regular";
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin-left: 30px;
  }

  .price {
    font-family: "Roboto-Regular";
    font-weight: bold;
    position: relative;
    left: 875px;
    bottom: 28px;
  }

  .price_plat1_menu1 {
    font-family: "Roboto-Regular";
    font-weight: bold;
    position: relative;
    left: 875px;
    bottom: 50px;
  }

  .entree {
    font-family: "Roboto-Regular";
    color: black;
    font-size: 22px;
    text-align: left;
    padding: 50px;
  }

  .soulignement {
    height: 3px;
    width: 40px;
    visibility: visible;
    position: relative;
    background-color: #99E2D0;
    margin-top: 10px;
  }

  .nom_plat {
    font-family: "Roboto-Regular";
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 15px;
    position: relative;
    top: 10px;
  }

  .plat {
    font-family: "Roboto-Regular";
    color: black;
    font-size: 22px;
    text-align: left;
    padding: 50px;
  }

  .dessert {
    font-family: "Roboto-Regular";
    color: black;
    font-size: 22px;
    text-align: left;
    padding: 50px;
  }

  .nom_dessert {
    font-family: "Roboto-Regular";
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 15px;
    position: relative;
    top: 10px;
  }

  .btn_commander {
    font-family: "Roboto-Regular";
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    font-size: 15px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    width: 30%;
    border: none;
    font-size: 20px;
    height: 50px;
  }

  header {
    z-index: 1;
    position: relative;
  }
}
/*/--------------------------------------------------------------------------------------------------- Media PC ---------------------------------------------------------------------------------------------------------------------------/*/
@media only screen and (min-width: 1150px) {
  /*/---------Page principale-----------/*/
  h1 {
    text-align: center;
    font-size: 75px;
    font-family: Shrikhand-Regular;
  }

  .btn_explorer {
    width: 350px;
    text-align: center;
    background-image: linear-gradient(#ff79da, #9356dc);
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 2px grey;
  }

  .slide {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 18px;
    padding-bottom: 3px;
    border-radius: 20px 20px 20px 20px;
    font-size: 25px;
    text-align: center;
    width: 50%;
    background-color: #f7f7f7;
    margin-left: 395px;
    position: relative;
    height: 70px;
    line-height: 78px;
    box-shadow: 0px 1px grey;
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    right: -705px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Shrikhand-Regular;
  }

  .bloc_resto {
    background-color: #F2EBEA;
    width: 100%;
  }

  .name {
    width: 200px;
    height: 200px;
  }

  .localisation {
    height: 50px;
    background-color: #ededed;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
  }

  .bloc_resa {
    padding-bottom: 50px;
    background-color: #E5EFE7;
    text-align: center;
  }

  .reservation {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .description {
    text-align: center;
    font-size: 25px;
    font-family: Roboto-Regular;
  }

  .bloc_fonctionnement {
    background-color: white;
  }

  .icones_fonctionnement {
    color: grey;
    margin-right: 20px;
  }

  .rond {
    color: #9356dc;
    font-size: 20px;
    margin-top: 10px;
  }

  .resto {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    position: relative;
    right: 27px;
  }

  main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .img_resto_1 {
    width: 100%;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    top: -62px;
  }

  .img_resto_2 {
    width: 100%;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    top: -175px;
  }

  .img_resto_3 {
    width: 100%;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    top: -85px;
  }

  .img_resto_4 {
    width: 100%;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    top: -101px;
  }

  .btn_new {
    background-color: #99E2D0;
    color: #008766;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 30px;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 10px;
    line-height: 30px;
  }

  .frame {
    width: 375px;
    height: 230px;
    border-radius: 20px 20px 20px 20px;
    background: white;
    margin: 0 0 15px 0;
    margin-bottom: 15px;
    position: relative;
  }

  .icone_like:hover {
    text-align: right;
    font-size: 25px;
    top: 13px;
    left: 317px;
    background-image: linear-gradient(#FF79DA, #9356DC);
  }

  .icone_like {
    text-align: right;
    left: 340px;
    position: relative;
    top: 13px;
    left: 317px;
    font-size: 25px;
  }

  .lieu_1 {
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 23px;
    right: 187px;
  }

  .lieu_2 {
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 23px;
    right: 188px;
  }

  .lieu_3 {
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 23px;
    right: 149px;
  }

  .lieu_4 {
    text-align: left;
    font-weight: normal;
    position: relative;
    line-height: 35px;
    top: 23px;
    right: 181px;
  }

  footer {
    background-color: #3B444C;
    color: white;
    font-size: 20px;
    text-align: left;
    margin: 5px;
    width: 100%;
    height: 220px;
  }

  .numero {
    display: block;
    width: 30px;
    height: 30px;
    border: solid;
    border-radius: 100%;
    background-color: #9356DC;
    color: white;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: calc((70px - 30px)/2);
    left: -15px;
  }

  .contenu {
    padding: 10px;
  }

  h3 {
    font-family: "Shrikhand-Regular";
    text-align: left;
    font-size: 20px;
    font-family: Shrikhand-Regular;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    top: 15px;
    right: -20px;
  }

  .icones_footer {
    color: white;
    padding: 10px;
    position: relative;
    top: 5px;
    right: 1px;
  }

  footer li {
    list-style: none;
    position: relative;
    top: 1px;
    right: 7px;
    line-height: 29px;
  }
  footer li i {
    margin-right: 10px;
    margin-left: -10px;
  }

  .img_conteneur {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }

  /*/---------Menu 1-2-3-4----------/*/
  .img_menu1 {
    width: 365px;
    height: 175px;
  }

  .menu_frame {
    background-color: #EEE8E3;
    border-radius: 20px 20px 0px 0px;
    margin-top: -50px;
    z-index: 2;
    position: relative;
  }

  .contenant {
    background-color: white;
    width: 350px;
    height: 50px;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 20px;
  }

  .nom_entree {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }

  .ingredient {
    font-size: 15px;
    font-weight: normal;
    text-align: left;
  }

  .entree {
    color: black;
    font-size: 15px;
    text-align: left;
    padding: 10px;
  }

  .soulignement {
    height: 3px;
    width: 40px;
    visibility: visible;
    position: relative;
    background-color: #99E2D0;
  }

  .nom_plat {
    font-size: 20px;
    font-weight: bold;
  }

  .plat {
    color: black;
    font-size: 15px;
    text-align: left;
    padding: 10px;
  }

  .dessert {
    color: black;
    font-size: 15px;
    text-align: left;
    padding: 10px;
  }

  .nom_dessert {
    font-size: 20px;
    font-weight: bold;
  }

  .btn_commander {
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    font-size: 15px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    width: 180px;
    height: 55px;
    border: none;
  }

  header {
    z-index: 1;
    position: relative;
  }

  .price {
    font-weight: bold;
  }
}

/*# sourceMappingURL=style.css.map */
