@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../style/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../style/Roboto-Regular.ttf");
}
/*/ Import accueil css /*/
/*/ mixins de la page d'accueil en mobile/*/
/*/ Mixins des pages menus en mobile /*/
/*/ mixins de la page d'accueil en desktop/*/
/*/ mixins de la pages des menus en desktop/*/
/*/ mixins de la page d'accueil en tablette /*/
/*/ mixins des pages menus en tablette /*/
@media only screen and (min-width: 1150px) {
  .bloc_chargement {
    position: fixed;
    width: 100%;
    height: 1000px;
    font-family: "Roboto-Regular";
    font-size: 20px;
    color: white;
    text-align: center;
    z-index: 0;
    animation: loading 3s;
    opacity: 0;
    background-color: black;
    top: 0px;
  }

  .chargement {
    background-color: black;
    padding-top: 300px;
  }

  @keyframes loading {
    0% {
      opacity: 1;
      z-index: 2;
    }
    70% {
      opacity: 1;
      z-index: 2;
    }
    100% {
      opacity: 0;
      z-index: 0;
    }
  }
  /*.section {
      background-color: #eee8e3;
      padding-top: 30px;
  }*/
  .loader {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
  }

  .loading_spinner {
    border-radius: 50px;
    border: 6px solid rgba 255, 255, 255, 0.4;
  }

  .loading_spinner:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .name {
    width: 200px;
    height: 200px;
  }

  .localisation {
    height: 50px;
    background-color: #ededed;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
    font-family: "Roboto-Regular";
  }

  .bloc_resa {
    padding-bottom: 50px;
    background-color: #f6f6f6;
    text-align: center;
    width: 100%;
  }

  .reservation {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto-Regular";
    padding-top: 15px;
  }

  .reservation2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto-Regular";
  }

  .description {
    text-align: center;
    font-size: 25px;
    font-family: "Roboto-Regular";
  }

  .bloc_fonctionnement {
    background-color: white;
    margin-left: 5%;
    margin-bottom: 50px;
  }

  .slide {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 235px;
    position: relative;
    left: 19px;
    height: 70px;
    line-height: 74px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    font-family: "Roboto-Regular";
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    text-align: center;
    width: 60%;
  }
  .slide i {
    padding-bottom: 10px;
    background-color: #f7f7f7;
    margin-right: 20px;
    position: relative;
    right: 235px;
    color: grey;
  }

  .slide--selected {
    background-color: #9356dc26;
  }
  .slide--selected i {
    padding-bottom: 10px;
    background-color: #f7f7f7;
    margin-right: 20px;
    position: relative;
    right: 235px;
    color: #9356dc;
  }

  .rond {
    color: #9356dc;
    font-size: 20px;
    margin-top: 10px;
  }

  .resto {
    font-size: 25px;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 10px;
  }

  .lieu {
    font-weight: normal;
    line-height: 35px;
    font-size: 20px;
    margin-left: 11px;
  }

  .img_resto_1,
.img_resto_3,
.img_resto_4 {
    width: 700px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
  }

  .img_resto_2 {
    width: 700px;
    height: 800px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    bottom: 300px;
  }

  .btn_new1,
.btn_new2 {
    background-color: #99E2D0;
    color: #008766;
    justify-content: center;
    display: flex;
    width: 110px;
    height: 30px;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 30px;
    line-height: 30px;
  }

  .bloc_frame {
    margin-left: 10%;
  }

  .frame {
    width: 700px;
    height: 400px;
    border-radius: 20px 20px 20px 20px;
    background: white;
    margin: 0 0 15px 0;
    margin-bottom: 50px;
    position: relative;
    margin-left: 380px;
  }

  .icone_like_homepage:hover {
    position: absolute;
    right: 68px;
    top: 10px;
    font-size: 25px;
    background-image: linear-gradient(#ff79da, #9356dc);
  }

  .icone_like_homepage {
    position: absolute;
    right: 68px;
    top: 10px;
    font-size: 25px;
    background-color: white;
  }

  .bloc_resto {
    background-color: #F2EBEA;
    width: 100%;
    padding-bottom: 10px;
  }

  .numero {
    display: block;
    width: 30px;
    height: 30px;
    border: solid;
    border-radius: 100%;
    background-color: #9356DC;
    color: white;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: calc((70px - 30px)/2);
    left: -15px;
    font-family: "Roboto-Regular";
  }

  .contenu {
    position: relative;
  }

  .img_conteneur1,
.img_conteneur2,
.img_conteneur3,
.img_conteneur4,
.img_conteneur5 {
    width: 100%;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    height: 270px;
    overflow: hidden;
  }

  .img_conteneur2 {
    width: 100%;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 480px) {
  .bloc_chargement {
    position: fixed;
    width: 100%;
    height: 812px;
    font-family: "Roboto-Regular";
    font-size: 20px;
    color: white;
    text-align: center;
    z-index: 0;
    animation: loading 3s;
    opacity: 0;
    background-color: black;
  }

  .chargement {
    background-color: black;
    padding-top: 300px;
  }

  @keyframes loading {
    0% {
      opacity: 1;
      z-index: 2;
    }
    70% {
      opacity: 1;
      z-index: 2;
    }
    100% {
      opacity: 0;
      z-index: 0;
    }
  }
  section {
    background-color: #eee8e3;
  }

  .loader {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
  }

  .loading_spinner {
    border-radius: 50px;
    border: 6px solid rgba 255, 255, 255, 0.4;
  }

  .loading_spinner:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .localisation {
    height: 40px;
    background-color: #eaeaea;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
    box-shadow: 0px 14px 0px grey;
    position: relative;
    font-family: "Roboto-Regular";
  }

  .bloc_resa {
    /*/ Concerne les "bloc_resa, description, reservation" /*/
    text-align: center;
    font-family: "Roboto-Regular";
    background-color: #f6f6f6;
    width: 100%;
    position: relative;
  }

  .reservation {
    /*/ Concerne les "bloc_resa, description, reservation" /*/
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 25px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 18px;
  }

  .description {
    /*/ Concerne les "bloc_resa, description, reservation" /*/
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 54px;
  }

  .bloc_fonctionnement {
    background-color: #f7f7f7;
  }

  .slide {
    font-family: "Roboto-Regular";
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    text-align: center;
    width: 90%;
    background-color: #f6f6f6;
    margin-left: 20px;
    position: relative;
    height: 70px;
    line-height: 74px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }
  .slide i {
    color: grey;
    margin-right: 22px;
  }

  .slide--selected {
    background-color: #f5edff;
  }
  .slide--selected i {
    color: #9356dc;
  }

  .rond {
    color: #9356dc;
    font-size: 20px;
    margin-top: 10px;
  }

  .resto {
    font-size: 17px;
    font-weight: bold;
    font-family: "Roboto-Regular";
    text-align: left;
  }

  .img_resto_1 {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    bottom: 0px;
  }

  .img_resto_2 {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    bottom: 163px;
  }

  .img_resto_3 {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    bottom: 68px;
  }

  .img_resto_4 {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    bottom: 75px;
  }

  .btn_new1,
.btn_new2 {
    font-family: "Roboto-Regular";
    background-color: #99e2d0;
    color: #008766;
    justify-content: center;
    display: flex;
    width: 77px;
    height: 27px;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    position: absolute;
    margin-left: 260px;
    margin-top: -130px;
    line-height: 30px;
    font-size: 15px;
  }

  .frame {
    width: 345px;
    height: 228px;
    border-radius: 15px 15px 15px 15px;
    background-color: #ffffff;
    margin-bottom: 24px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    margin-left: 13px;
  }

  .icone_like_homepage:hover {
    position: absolute;
    left: 300px;
    font-size: 20px;
    background-image: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icone_like_homepage {
    position: absolute;
    left: 300px;
    font-size: 20px;
    background-color: white;
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
  }

  .lieu {
    font-family: "Roboto-Regular";
    text-align: left;
    font-weight: normal;
    line-height: 35px;
    font-size: 15px;
    margin-top: -6px;
  }

  .bloc_resto {
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 57px;
  }

  .numero {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #9356dc;
    color: white;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: calc((70px - 30px) / 2);
    left: -14px;
    font-size: 17px;
  }

  .contenu {
    padding: 10px;
    position: relative;
  }

  .img_conteneur1 {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    height: 165px;
  }

  .img_conteneur2 {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    height: 154px;
  }

  .img_conteneur3 {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    height: 154px;
  }

  .img_conteneur4 {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    height: 154px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1149px) {
  .bloc_chargement {
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: "Roboto-Regular";
    font-size: 20px;
    color: black;
    text-align: center;
    z-index: 0;
    animation: loading 3s;
    opacity: 0;
  }

  @keyframes loading {
    0% {
      opacity: 1;
      z-index: 2;
    }
    70% {
      opacity: 1;
      z-index: 2;
    }
    100% {
      opacity: 0;
      z-index: 0;
    }
  }
  section {
    background-color: #eee8e3;
    padding-top: 30px;
  }

  .loader {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
  }

  .loading_spinner {
    border-radius: 50px;
    border: 6px solid rgba 255, 255, 255, 0.4;
  }

  .loading_spinner:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .name {
    width: 200px;
    height: 200px;
  }

  .localisation {
    height: 50px;
    background-color: #eaeaea;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
    font-family: "Roboto-Regular";
    box-shadow: 0px 1px 0px grey;
  }

  .bloc_resa {
    padding-bottom: 50px;
    background-color: #f6f6f6;
    text-align: center;
    width: 100%;
  }

  .reservation {
    text-align: center;
    font-size: 25px;
    font-family: "Roboto-Regular";
    font-weight: bold;
    padding-top: 15px;
  }

  .description {
    text-align: center;
    font-size: 25px;
    font-family: "Roboto-Regular";
  }

  .bloc_fonctionnement {
    background-color: #f6f6f6;
  }

  .slide {
    margin-left: 20px;
    position: relative;
    left: 19px;
    height: 70px;
    line-height: 74px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    font-family: "Roboto-Regular";
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    text-align: center;
    width: 90%;
    background-color: #f6f6f6;
  }
  .slide i {
    color: grey;
  }

  .slide--selected {
    background-color: #f5edff;
  }
  .slide--selected i {
    color: #9356dc;
  }

  .rond {
    color: #9356dc;
    font-size: 20px;
    margin-top: 10px;
  }

  .resto {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding-top: 133px;
    font-family: "Roboto-Regular";
  }

  main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .img_resto_1,
.img_resto_3,
.img_resto_4 {
    width: 700px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
  }

  .img_resto_2 {
    width: 700px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
  }

  .btn_new1,
.btn_new2 {
    background-color: #99E2D0;
    color: #008766;
    justify-content: center;
    display: flex;
    width: 110px;
    height: 30px;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 30px;
    line-height: 30px;
    font-family: "Roboto-Regular";
  }

  .frame {
    width: 700px;
    height: 400px;
    border-radius: 20px 20px 20px 20px;
    background: #ffffff;
    margin: 0 0 15px 0;
    margin-bottom: 50px;
    position: relative;
    left: 155px;
    bottom: 18px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .icone_like_homepage:hover {
    text-align: right;
    position: relative;
    top: 170px;
    left: 600px;
    font-size: 25px;
    background-image: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icone_like_homepage {
    text-align: right;
    position: relative;
    top: 170px;
    left: 600px;
    font-size: 25px;
    color: #717171;
  }

  .lieu_1,
.lieu_2,
.lieu_3,
.lieu_4 {
    text-align: left;
    font-weight: normal;
    padding-bottom: 145px;
    line-height: 35px;
    font-size: 20px;
    font-family: "Roboto-Regular";
  }

  .bloc_resto {
    background-color: #f6f6f6;
    width: 100%;
    position: relative;
    top: 50px;
  }

  .numero {
    display: block;
    width: 30px;
    height: 30px;
    border: solid;
    border-radius: 100%;
    background-color: #9356DC;
    color: white;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: calc((70px - 30px)/2);
    left: -15px;
  }

  .contenu {
    padding: 10px;
  }

  .img_conteneur1,
.img_conteneur2,
.img_conteneur3,
.img_conteneur4,
.img_conteneur5 {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
  }
}
@media only screen and (min-width: 1150px) {
  body {
    margin-top: 0px;
  }

  .fleche {
    position: relative;
    right: 500px;
    font-size: 40px;
    text-decoration: none;
    color: black;
  }

  .img_menu1,
.img_menu3,
.img_menu4 {
    width: 100%;
    margin-top: -707px;
  }

  .img_menu2 {
    width: 100%;
    margin-top: -707px;
  }

  .img_conteneur {
    overflow: hidden;
    width: 100%;
    height: 530px;
  }

  .menu_frame1,
.menu_frame2,
.menu_frame3,
.menu_frame4 {
    background-color: #EEE8E3;
    border-radius: 65px 65px 0px 0px;
    margin-top: -110px;
    z-index: 2;
    position: relative;
  }

  .icone_like_menus {
    margin-left: 808px;
    font-size: 30px;
  }

  .icone_like_menus:hover {
    position: relative;
    left: 235px;
    font-size: 30px;
    background-color: linear-gradient(#ff79da, #9356dc);
  }

  .contenant_1 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 300ms;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
  }

  .contenant_left {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    transition: width 500ms;
  }

  .box {
    background-color: #99e2d0;
    width: 0;
    overflow: hidden;
    transition: all 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icone_valide {
    color: white;
    border-radius: 26px 26px;
    transform: rotate(0deg);
    transition: transform 1s;
    transform-origin: center center;
  }

  .contenant_1:hover .box,
.contenant_2:hover .box,
.contenant_3:hover .box,
.contenant_4:hover .box,
.contenant_5:hover .box,
.contenant_6:hover .box,
.contenant_7:hover .box,
.contenant_8:hover .box,
.contenant_9:hover .box,
.contenant_10:hover .box {
    width: 15%;
    padding: 13px 24px;
  }

  .contenant_1:hover .contenant_left,
.contenant_2:hover .contenant_left,
.contenant_3:hover .contenant_left,
.contenant_4:hover .contenant_left,
.contenant_5:hover .contenant_left,
.contenant_6:hover .contenant_left,
.contenant_7:hover .contenant_left,
.contenant_8:hover .contenant_left,
.contenant_9:hover .contenant_left,
.contenant_10:hover .contenant_left {
    width: 190%;
  }

  .contenant_1:hover .icone_valide,
.contenant_2:hover .icone_valide,
.contenant_3:hover .icone_valide,
.contenant_4:hover .icone_valide,
.contenant_5:hover .icone_valide,
.contenant_6:hover .icone_valide,
.contenant_7:hover .icone_valide,
.contenant_8:hover .icone_valide,
.contenant_9:hover .icone_valide,
.contenant_10:hover .icone_valide {
    transform: rotate(360deg);
    transform-origin: center center;
  }

  /*.contenant:hover .contenant_left {
      width: 190%;

      .box {
          width: 15%;
          padding: 13px 24px;
      }

      .icone_valide {
          transform: rotate(360deg);
          transform-origin: center center;
      }
  }*/
  .contenant_2 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 305ms;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -o-animation: fadein 4s;
  }

  .contenant_3 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 310ms;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s;
  }

  .contenant_4 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 315ms;
    animation: fadein 6s;
    -moz-animation: fadein 6s;
    -webkit-animation: fadein 6s;
    -o-animation: fadein 6s;
  }

  .contenant_5 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 320ms;
    animation: fadein 7s;
    -moz-animation: fadein 7s;
    -webkit-animation: fadein 7s;
    -o-animation: fadein 7s;
  }

  .contenant_6 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 325ms;
    animation: fadein 8s;
    -moz-animation: fadein 8s;
    -webkit-animation: fadein 8s;
    -o-animation: fadein 8s;
  }

  .contenant_7 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 330ms;
    animation: fadein 9s;
    -moz-animation: fadein 9s;
    -webkit-animation: fadein 9s;
    -o-animation: fadein 9s;
  }

  .contenant_8 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 335ms;
    animation: fadein 10s;
    -moz-animation: fadein 10s;
    -webkit-animation: fadein 10s;
    -o-animation: fadein 10s;
  }

  .contenant_9 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 340ms;
    animation: fadein 9s;
    -moz-animation: fadein 9s;
    -webkit-animation: fadein 9s;
    -o-animation: fadein 9s;
  }

  .contenant_10 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 345ms;
    animation: fadein 10s;
    -moz-animation: fadein 10s;
    -webkit-animation: fadein 10s;
    -o-animation: fadein 10s;
  }

  .nom_entree,
.nom_plat,
.nom_dessert {
    font-family: "Roboto-Regular";
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 15px;
    position: relative;
    top: 10px;
  }

  .ingredients {
    font-family: "Roboto-Regular";
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin-left: 30px;
  }

  .price {
    font-family: "Roboto-Regular";
    font-weight: bold;
    position: absolute;
    right: 30px;
    bottom: 28px;
  }

  /* .contenant {
       font-familly: "Roboto-Regular";
       font-weight: normal;
       text-align: left;

       .nom_entree,
       .nom_plat,
       .nom_dessert {
           font-size: 20px;
           font-weight: bold;
           margin-left: 30px;
           margin-bottom: 15px;
           position: relative;
           top: 10px;

           .ingredients {
               font-size: 18px;
               margin-left: 30px;


               .price {
                   font-weight: bold;
                   position: absolute;
                   right: 30px;
                   bottom: 28px;
               }
           }
       }*/
  .entree,
.plat,
.dessert {
    font-family: "Roboto-Regular";
    color: black;
    font-size: 22px;
    text-align: left;
    padding: 50px;
  }

  .soulignement {
    height: 3px;
    width: 40px;
    visibility: visible;
    position: relative;
    background-color: #99E2D0;
    margin-top: 10px;
  }

  .img_header4 {
    height: 500px;
  }

  header {
    z-index: 1;
    position: relative;
    background-color: white;
    padding-top: 1px;
    margin-bottom: 178px;
    padding-bottom: 1px;
  }

  /*/---Animation---/*/
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* sur Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* sur Safari et Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* sur Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 480px) {
  .fleche {
    position: relative;
    bottom: 0px;
    right: 75px;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }

  .img_menu {
    width: 100%;
    margin-top: 6px;
    z-index: 2;
    position: relative;
  }

  .icone_like_menus {
    position: relative;
    left: 65px;
    font-size: 22px;
    background-color: linear-gradient(#ff79da, #9356dc);
  }
  .icone_like_menus:hover {
    position: relative;
    left: 65px;
    font-size: 22px;
    background-color: linear-gradient(#ff79da, #9356dc);
  }

  .menu_frame1 {
    background-color: #eee8e3;
    border-radius: 40px 40px 0px 0px;
    z-index: 2;
    width: 100%;
    position: relative;
    padding-top: 40px;
    bottom: 40px;
    padding-bottom: 40px;
  }

  .menu_frame2 {
    background-color: #eee8e3;
    border-radius: 40px 40px 0px 0px;
    z-index: 2;
    width: 100%;
    position: relative;
    padding-top: 40px;
    bottom: 40px;
    padding-bottom: 40px;
    margin-top: -117px;
  }

  .menu_frame4 {
    background-color: #eee8e3;
    border-radius: 40px 40px 0px 0px;
    z-index: 2;
    width: 100%;
    position: relative;
    padding-top: 40px;
    bottom: 40px;
    padding-bottom: 40px;
    margin-top: -15px;
  }

  .contenant_left {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    transition: width 500ms;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .box {
    background-color: #99e2d0;
    width: 0;
    overflow: hidden;
    transition: all 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icone_valide {
    color: white;
    border-radius: 26px 26px;
    transform: rotate(0deg);
    transition: transform 1s;
    transform-origin: center center;
  }

  .contenant_1:hover .box,
.contenant_2:hover .box,
.contenant_3:hover .box,
.contenant_4:hover .box,
.contenant_5:hover .box,
.contenant_6:hover .box,
.contenant_7:hover .box,
.contenant_8:hover .box,
.contenant_9:hover .box,
.contenant_10:hover .box {
    width: 3%;
    padding: 10px 30px;
  }

  .contenant_1:hover .contenant_left,
.contenant_2:hover .contenant_left,
.contenant_3:hover .contenant_left,
.contenant_4:hover .contenant_left,
.contenant_5:hover .contenant_left,
.contenant_6:hover .contenant_left,
.contenant_7:hover .contenant_left,
.contenant_8:hover .contenant_left,
.contenant_9:hover .contenant_left,
.contenant_10:hover .contenant_left {
    width: 80%;
  }

  /*.contenant_1:hover .icone_valide,
  .contenant_2:hover .icone_valide,
  .contenant_3:hover .icone_valide,
  .contenant_4:hover .icone_valide,
  .contenant_5:hover .icone_valide,
  .contenant_6:hover .icone_valide,
  .contenant_7:hover .icone_valide,
  .contenant_8:hover .icone_valide,
  .contenant_9:hover .icone_valide,
  .contenant_10:hover .icone_valide*/
  .contenants:hover .icone_valide {
    transform: rotate(360deg);
    transform-origin: center center;
  }

  .contenant_1 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 300ms;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari et Chrome */
    -o-animation: fadein 3s;
    /* Opera */
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .contenant_2 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 305ms;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -o-animation: fadein 4s;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .contenant_3 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 310ms;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .contenant_4 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 315ms;
    animation: fadein 6s;
    -moz-animation: fadein 6s;
    -webkit-animation: fadein 6s;
    -o-animation: fadein 6s;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .contenant_5 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    animation: fadein 7s;
    -moz-animation: fadein 7s;
    -webkit-animation: fadein 7s;
    -o-animation: fadein 7s;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .contenant_6 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 325ms;
    animation: fadein 8s;
    -moz-animation: fadein 8s;
    -webkit-animation: fadein 8s;
    -o-animation: fadein 8s;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .contenant_7 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 330ms;
    animation: fadein 9s;
    -moz-animation: fadein 9s;
    -webkit-animation: fadein 9s;
    -o-animation: fadein 9s;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .contenant_8 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 335ms;
    animation: fadein 10s;
    -moz-animation: fadein 10s;
    -webkit-animation: fadein 10s;
    -o-animation: fadein 10s;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .contenant_9 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 340ms;
    animation: fadein 11s;
    -moz-animation: fadein 11s;
    -webkit-animation: fadein 11s;
    -o-animation: fadein 11s;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .contenant_10 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 345ms;
    animation: fadein 12s;
    -moz-animation: fadein 12s;
    -webkit-animation: fadein 12s;
    -o-animation: fadein 12s;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
  }

  .contenants {
    font-family: "Roboto-Regular";
    font-size: 15px;
    text-align: left;
    /* overflow:hidden;*/
  }
  .contenants .entree,
.contenants .plat,
.contenants .dessert {
    color: black;
    margin: 32px;
    padding-top: 25px;
    padding-bottom: 5px;
  }
  .contenants .nom_entree,
.contenants .nom_plat,
.contenants .nom_dessert {
    font-weight: bold;
    padding-top: 5px;
  }
  .contenants .ingredients {
    font-weight: normal;
    margin-top: 10px;
    color: #939393;
  }

  /* .contenants:hover .price-and-icon-check{
       transform: translateX(0px);
   }

   .price-and-icon-check{
       display:flex;
       transform:translateX(50px);
       transition:transform 500ms;
   }*/
  .soulignement {
    height: 3px;
    width: 40px;
    visibility: visible;
    position: relative;
    background-color: #99e2d0;
    bottom: 15px;
    margin-left: 35px;
  }

  header {
    z-index: 1;
    position: relative;
  }

  .price {
    font-family: "Roboto-Regular";
    font-weight: bold;
    position: absolute;
    right: 33px;
    bottom: 18px;
    font-size: 15px;
  }

  /*/---Animation---/*/
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* sur Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* sur Safari et Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* sur Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 1149px) {
  .fleche {
    position: relative;
    right: 369px;
    font-size: 35px;
    text-decoration: none;
    color: black;
  }

  .img_menu1,
.img_menu3,
.img_menu4 {
    width: 100%;
    height: 530px;
  }

  .img_menu2 {
    width: 100%;
    margin-top: -707px;
  }

  .menu_frame1,
.menu_frame2,
.menu_frame3,
.menu_frame4 {
    background-color: #EEE8E3;
    border-radius: 65px 65px 0px 0px;
    margin-top: -110px;
    z-index: 2;
    position: relative;
  }

  .entete_resto {
    font-family: "Shrikhand-Regular";
    font-size: 35px;
    position: relative;
    left: 340px;
    top: 18px;
  }

  .icone_like_menus {
    position: relative;
    left: 235px;
    font-size: 30px;
  }
  .icone_like_menus:hover {
    position: relative;
    left: 235px;
    font-size: 30px;
    background-color: linear-gradient(#ff79da, #9356dc);
  }

  .contenant_1 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 300ms;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
  }

  /*/---Animation---/*/
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* sur Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* sur Safari et Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* sur Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .contenant_left {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    transition: width 500ms;
  }

  .box {
    background-color: #99e2d0;
    width: 0;
    overflow: hidden;
    transition: all 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icone_valide {
    color: white;
    border-radius: 26px 26px;
    transform: rotate(0deg);
    transition: transform 1s;
    transform-origin: center center;
  }

  .contenant_1:hover .box,
.contenant_2:hover .box,
.contenant_3:hover .box,
.contenant_4:hover .box,
.contenant_5:hover .box,
.contenant_6:hover .box,
.contenant_7:hover .box,
.contenant_8:hover .box,
.contenant_9:hover .box,
.contenant_10:hover .box {
    width: 15%;
    padding: 13px 24px;
  }

  .contenant_1:hover .contenant_left,
.contenant_2:hover .contenant_left,
.contenant_3:hover .contenant_left,
.contenant_4:hover .contenant_left,
.contenant_5:hover .contenant_left,
.contenant_6:hover .contenant_left,
.contenant_7:hover .contenant_left,
.contenant_8:hover .contenant_left,
.contenant_9:hover .contenant_left,
.contenant_10:hover .contenant_left {
    width: 190%;
  }

  .contenant_1:hover .icone_valide,
.contenant_2:hover .icone_valide,
.contenant_3:hover .icone_valide,
.contenant_4:hover .icone_valide,
.contenant_5:hover .icone_valide,
.contenant_6:hover .icone_valide,
.contenant_7:hover .icone_valide,
.contenant_8:hover .icone_valide,
.contenant_9:hover .icone_valide,
.contenant_10:hover .icone_valide {
    transform: rotate(360deg);
    transform-origin: center center;
  }

  .contenant_2 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 305ms;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -o-animation: fadein 4s;
  }

  .contenant_3 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 310ms;
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s;
  }

  .contenant_4 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 315ms;
    animation: fadein 6s;
    -moz-animation: fadein 6s;
    -webkit-animation: fadein 6s;
    -o-animation: fadein 6s;
  }

  .contenant_5 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 320ms;
    animation: fadein 7s;
    -moz-animation: fadein 7s;
    -webkit-animation: fadein 7s;
    -o-animation: fadein 7s;
  }

  .contenant_6 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 325ms;
    animation: fadein 8s;
    -moz-animation: fadein 8s;
    -webkit-animation: fadein 8s;
    -o-animation: fadein 8s;
  }

  .contenant_7 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 330ms;
    animation: fadein 9s;
    -moz-animation: fadein 9s;
    -webkit-animation: fadein 9s;
    -o-animation: fadein 9s;
  }

  .contenant_8 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 335ms;
    animation: fadein 10s;
    -moz-animation: fadein 10s;
    -webkit-animation: fadein 10s;
    -o-animation: fadein 10s;
  }

  .contenant_9 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 340ms;
    animation: fadein 9s;
    -moz-animation: fadein 9s;
    /* Firefox */
    -webkit-animation: fadein 9s;
    /* Safari et Chrome */
    -o-animation: fadein 9s;
    /* Opera */
  }

  .contenant_10 {
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding-left: 15px;
    max-height: 80px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    overflow: hidden;
    transition-delay: 345ms;
    animation: fadein 10s;
    -moz-animation: fadein 10s;
    -webkit-animation: fadein 10s;
    -o-animation: fadein 10s;
  }

  .ingredients {
    font-family: "Roboto-Regular";
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin-left: 30px;
    color: #939393;
  }

  .price {
    font-family: "Roboto-Regular";
    font-weight: bold;
    position: absolute;
    right: 40px;
    bottom: 11px;
  }

  .entree,
.plat,
.dessert {
    font-family: "Roboto-Regular";
    color: black;
    font-size: 22px;
    text-align: left;
    padding: 50px;
  }

  .soulignement {
    height: 3px;
    width: 40px;
    visibility: visible;
    position: relative;
    background-color: #99E2D0;
    margin-top: 10px;
  }

  .nom_entree,
.nom_plat,
.nom_dessert {
    font-family: "Roboto-Regular";
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 15px;
  }

  header {
    z-index: 1;
    position: relative;
  }

  /*/---Animation---/*/
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* sur Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* sur Safari et Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* sur Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@media only screen and (min-width: 1150px) {
  h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Shrikhand-Regular";
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Shrikhand-Regular";
    z-index: 3;
    position: relative;
    background: white;
    height: 50px;
    line-height: 50px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1149px) {
  h1 {
    text-align: center;
    font-size: 35px;
    font-family: Shrikhand-Regular;
  }
}
@media only screen and (min-width: 1150px) {
  footer {
    background-color: #3B444C;
    color: white;
    font-size: 20px;
    text-align: left;
    width: 100%;
    height: 220px;
  }

  .bas_de_page li {
    list-style: none;
    position: relative;
    right: 7px;
    line-height: 30px;
  }
  .bas_de_page li i {
    margin-right: 10px;
    margin-left: -10px;
  }

  .icones_footer1 {
    color: white;
    padding: 10px;
    position: relative;
    top: 5px;
    right: 1px;
  }

  .icones_footer2 {
    color: white;
    padding: 5px;
    position: relative;
    top: 5px;
    right: 1px;
  }

  .contact {
    text-decoration: none;
    color: white;
    color: white;
  }
}
@media only screen and (max-width: 480px) {
  .icones_footer1 {
    color: white;
    position: relative;
    bottom: 4px;
    right: 7px;
    font-size: 18px;
  }

  .icones_footer2 {
    color: white;
    position: relative;
    bottom: 4px;
    right: 10px;
    font-size: 16px;
    margin-left: -3px;
  }

  .contact {
    text-decoration: none;
    color: white;
    color: white;
  }

  footer {
    font-family: "Roboto-Regular";
    background-color: #3b444c;
    color: white;
    font-size: 20px;
    text-align: left;
    width: 100%;
    height: 225px;
    text-decoration: none;
  }

  .bas_de_page li {
    list-style: none;
    line-height: 29px;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .bas_de_page li i {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1149px) {
  footer {
    background-color: #3B444C;
    color: white;
    font-size: 20px;
    text-align: left;
    margin: 5px;
    width: 100%;
    height: 217px;
    font-family: "Roboto-Regular";
  }

  .bas_de_page li {
    list-style: none;
    position: relative;
    right: 7px;
    line-height: 30px;
  }
  .bas_de_page li i {
    margin-right: 10px;
    margin-left: -10px;
  }

  .icones_footer1 {
    color: white;
    padding: 10px;
    position: relative;
    top: 5px;
    right: 1px;
  }

  .icones_footer2 {
    color: white;
    padding: 5px;
    position: relative;
    top: 5px;
    right: 1px;
  }

  .contact {
    text-decoration: none;
    color: white;
    color: white;
    font-family: "Roboto-Regular";
  }
}
@media only screen and (min-width: 1150px) {
  .btn_commander {
    font-family: "Roboto-Regular";
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    font-size: 15px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    width: 30%;
    border: none;
    font-size: 20px;
    height: 50px;
  }

  .btn_explorer {
    width: 30%;
    text-align: center;
    background-image: linear-gradient(#ff79da, #9356dc);
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 2px grey;
    height: 30px;
    font-size: 20px;
    font-family: "Roboto-Regular";
  }

  form {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .btn_commander {
    font-family: "Roboto-Regular";
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    font-size: 15px;
    background-image: linear-gradient(#ff79da, #9356dc);
    width: 180px;
    height: 55px;
    border: none;
    margin-top: 33px;
  }

  .btn_explorer {
    width: auto;
    text-align: center;
    background-image: linear-gradient(#ff79da, #9356dc);
    border-radius: 30px;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 2px 2px grey;
    bottom: 35px;
    position: relative;
    font-family: "Roboto-Regular";
  }
}
@media only screen and (min-width: 481px) and (max-width: 1149px) {
  .btn_commander {
    font-family: "Roboto-Regular";
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    font-size: 15px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    width: 30%;
    border: none;
    font-size: 20px;
    height: 50px;
  }

  .btn_explorer {
    width: 30%;
    text-align: center;
    background-image: linear-gradient(#ff79da, #9356dc);
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 2px grey;
    font-family: "Roboto-Regular";
  }

  form {
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1150px) {
  h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Roboto-Regular";
    position: relative;
    left: 10px;
  }

  .titre_resto {
    margin-left: 5%;
  }

  h3 {
    font-family: "Shrikhand-Regular";
    text-align: left;
    font-size: 25px;
    color: white;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 10px;
    font-weight: 100;
  }

  h4 {
    font-family: "Shrikhand-Regular";
    font-size: 40px;
    margin-left: 116px;
    padding-top: 50px;
  }

  h5 {
    font-size: 15px;
    font-family: "Roboto-Regular";
    color: black;
  }
}
@media only screen and (max-width: 480px) {
  body {
    margin: 0px;
  }

  h2 {
    font-size: 25px;
    margin-left: 22px;
    font-weight: bold;
    text-align: left;
    font-family: "Roboto-Regular";
    margin-top: 24px;
  }

  h3 {
    font-family: "Shrikhand-Regular";
    text-align: left;
    font-size: 20px;
    color: white;
    padding-top: 25px;
    margin: 0px;
    padding-left: 30px;
    margin-top: -38px;
    font-weight: 100;
  }

  h4 {
    font-family: "Shrikhand-Regular";
    font-size: 23px;
    margin-left: 20px;
  }

  h5 {
    font-size: 15px;
    font-family: "Roboto-Regular";
    color: black;
    margin-left: 35px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1149px) {
  h2, h3 {
    text-align: left;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: "Roboto-Regular";
  }

  h4 {
    text-align: left;
    font-size: 25px;
    padding: 10px;
    font-family: "Shrikhand-Regular";
    color: black;
    font-weight: 100;
    margin-bottom: 8px;
    margin-left: 21px;
    font-weight: 100;
  }

  h5 {
    font-size: 15px;
    font-family: "Roboto-Regular";
    color: black;
  }
}

/*# sourceMappingURL=style.css.map */
