@media only screen and (max-width: 480px) {

    h1 {
        text-align: center;
        font-size: 30px;
        font-family: "Shrikhand-Regular";
        z-index: 3;
        position: relative;
        background: white;
        height: 50px;
        line-height: 50px;
        margin:0px;
        padding-top: 10px;
        padding-bottom: 10px;
       }
    }