@media only screen and (max-width: 480px) {

    h1 {
        text-align: center;
        font-size: 30px;
        font-family: "Shrikhand-Regular";
        z-index: 3;
        position: relative;
        background: white;
        margin: 0px;
        height: 50px;
        line-height: 50px;
        top: 7px;
    }
    }