@media only screen and (min-width:1150px) {

    .fleche {
        position: relative;
        right: 500px;
        font-size: 40px;
        text-decoration: none;
        color: black;
    }

   
    .img_menu1,
    .img_menu3,
    .img_menu4 {
        width: 100%;
        height:500px;
    }

    .img_menu2{
        width:100%;
        margin-top: -707px;
    }

    .img_conteneur {
        overflow: hidden;
        width: 100%;
        height: 530px;
    }

    .menu_frame1,
    .menu_frame2,
    .menu_frame3,
    .menu_frame4 {
        background-color: #EEE8E3;
        border-radius: 65px 65px 0px 0px;
        margin-top: -110px;
        z-index: 2;
        position: relative;
    }

    .icone_like_menus {
        margin-left:808px;
        font-size: 30px;
    }

    .icone_like_menus:hover {
        position: relative;
        left: 235px;
        font-size: 30px;
        background-color: linear-gradient(#ff79da, #9356dc);
    }

    .contenant_1 {
        @include contenant;
        transition-delay: 300ms;
        animation: fadein 3s;
        -moz-animation: fadein 3s;
        -webkit-animation: fadein 3s;
        -o-animation: fadein 3s;
    }


    .contenant_left {
        position: relative;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 10px;
        transition: width 500ms;
    }

    .box {
        background-color: #99e2d0;
        width: 0;
        overflow: hidden;
        transition: all 500ms;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .icone_valide {
        color: white;
        border-radius: 26px 26px;
        transform: rotate(0deg);
        transition: transform 1s;
        transform-origin: center center;
    }

    .contenant_1:hover .box,
    .contenant_2:hover .box,
    .contenant_3:hover .box,
    .contenant_4:hover .box,
    .contenant_5:hover .box,
    .contenant_6:hover .box,
    .contenant_7:hover .box,
    .contenant_8:hover .box,
    .contenant_9:hover .box,
    .contenant_10:hover .box {
        width: 15%;
        padding: 13px 24px;
    }

    .contenant_1:hover .contenant_left,
    .contenant_2:hover .contenant_left,
    .contenant_3:hover .contenant_left,
    .contenant_4:hover .contenant_left,
    .contenant_5:hover .contenant_left,
    .contenant_6:hover .contenant_left,
    .contenant_7:hover .contenant_left,
    .contenant_8:hover .contenant_left,
    .contenant_9:hover .contenant_left,
    .contenant_10:hover .contenant_left {
            width: 190%;
    }

    .contenant_1:hover .icone_valide,
    .contenant_2:hover .icone_valide,
    .contenant_3:hover .icone_valide,
    .contenant_4:hover .icone_valide,
    .contenant_5:hover .icone_valide,
    .contenant_6:hover .icone_valide,
    .contenant_7:hover .icone_valide,
    .contenant_8:hover .icone_valide,
    .contenant_9:hover .icone_valide,
    .contenant_10:hover .icone_valide {
        transform: rotate(360deg);
        transform-origin: center center;
    }

    /*.contenant:hover .contenant_left {
        width: 190%;

        .box {
            width: 15%;
            padding: 13px 24px;
        }

        .icone_valide {
            transform: rotate(360deg);
            transform-origin: center center;
        }
    }*/ 

    .contenant_2 {
        @include contenant;
        transition-delay: 305ms;
        animation: fadein 4s;
        -moz-animation: fadein 4s;
        -webkit-animation: fadein 4s;
        -o-animation: fadein 4s;
    }
       
    .contenant_3 {
        @include contenant;
        transition-delay: 310ms;
        animation: fadein 5s;
        -moz-animation: fadein 5s;
        -webkit-animation: fadein 5s;
        -o-animation: fadein 5s;
    }

    .contenant_4 {
        @include contenant;
        transition-delay: 315ms;
        animation: fadein 6s;
        -moz-animation: fadein 6s;
        -webkit-animation: fadein 6s;
        -o-animation: fadein 6s;
    }
       
    .contenant_5 {
        @include contenant;
        transition-delay: 320ms;
        animation: fadein 7s;
        -moz-animation: fadein 7s;
        -webkit-animation: fadein 7s;
        -o-animation: fadein 7s;
    }

    .contenant_6 {
        @include contenant;
        transition-delay: 325ms;
        animation: fadein 8s;
        -moz-animation: fadein 8s;
        -webkit-animation: fadein 8s;
        -o-animation: fadein 8s;
    }

    .contenant_7 {
        @include contenant;
        transition-delay: 330ms;
        animation: fadein 9s;
        -moz-animation: fadein 9s;
        -webkit-animation: fadein 9s;
        -o-animation: fadein 9s;
    }

    .contenant_8 {
        @include contenant;
        transition-delay: 335ms;
        animation: fadein 10s;
        -moz-animation: fadein 10s;
        -webkit-animation: fadein 10s;
        -o-animation: fadein 10s;
    }

    .contenant_9 {
        @include contenant;
        transition-delay: 340ms;
        animation: fadein 9s;
        -moz-animation: fadein 9s;
        -webkit-animation: fadein 9s;
        -o-animation: fadein 9s;
    }

    .contenant_10 {
        @include contenant;
        transition-delay: 345ms;
        animation: fadein 10s;
        -moz-animation: fadein 10s;
        -webkit-animation: fadein 10s;
        -o-animation: fadein 10s;
    }

    .nom_entree,
    .nom_plat,
    .nom_dessert {
        font-family: "Roboto-Regular";
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        margin-left: 30px;
        margin-bottom: 15px;
        position: relative;
        top: 10px;
    }

    .ingredients {
        font-family: "Roboto-Regular";
        font-size: 18px;
        font-weight: normal;
        text-align: left;
        margin-left: 30px;
    }

    .price {
        font-family: "Roboto-Regular";
        font-weight: bold;
        position: absolute;
        right: 30px;
        bottom: 28px;
    }

   /* .contenant {
        font-familly: "Roboto-Regular";
        font-weight: normal;
        text-align: left;

        .nom_entree,
        .nom_plat,
        .nom_dessert {
            font-size: 20px;
            font-weight: bold;
            margin-left: 30px;
            margin-bottom: 15px;
            position: relative;
            top: 10px;

            .ingredients {
                font-size: 18px;
                margin-left: 30px;


                .price {
                    font-weight: bold;
                    position: absolute;
                    right: 30px;
                    bottom: 28px;
                }
            }
        }*/


        .entree,
        .plat,
        .dessert {
            font-family: "Roboto-Regular";
            color: black;
            font-size: 22px;
            text-align: left;
            padding: 50px;
        }

        .soulignement {
            height: 3px;
            width: 40px;
            visibility: visible;
            position: relative;
            background-color: #99E2D0;
            margin-top: 10px;
        }

        header {
            z-index: 1;
            position: relative;
        }
        /*/---Animation---/*/
        @keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @-moz-keyframes fadein {
            /* sur Firefox */
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @-webkit-keyframes fadein {
            /* sur Safari et Chrome */
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @-o-keyframes fadein {
            /* sur Opera */
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
