@media only screen and (max-width: 480px) {

    .fleche {
        position: relative;
        bottom: 0px;
        right: 75px;
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    .img_menu {
        width: 100%;
        margin-top: 6px;
        z-index: 2;
        position: relative;
    }

    
    .icone_like_menus {
        position: relative;
        left: 65px;
        font-size: 22px;
        background-color: linear-gradient(#ff79da, #9356dc);
    }

    .icone_like_menus:hover {
        position: relative;
        left: 65px;
        font-size: 22px;
        background-color: linear-gradient(#ff79da, #9356dc);
    }

    

    .menu_frame1 {
        background-color: #eee8e3;
        border-radius: 40px 40px 0px 0px;
        z-index: 2;
        width: 100%;
        //bottom: 43px;
        position: relative;
        padding-top: 40px;
        bottom: 40px;
        padding-bottom: 40px;
    }
       
    .menu_frame2 {
       @include menu_frame;
        margin-top: -117px;
    }

    .menu_frame4 {
      @include menu_frame;
        margin-top: -15px;
    }
  
    .contenant_1 {
        @include contenant;
        transition-delay: 300ms;
        animation: fadein 3s;
        -moz-animation: fadein 3s;
        -webkit-animation: fadein 3s;
        -o-animation: fadein 3s;
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    }

    .contenant_left {
        position: relative;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 10px;
        transition: width 500ms;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .box {
        background-color: #99e2d0;
        width: 0;
        overflow: hidden;
        transition: all 500ms;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icone_valide {
        color: white;
        border-radius: 26px 26px;
        transform: rotate(0deg);
        transition: transform 1s;
        transform-origin: center center;
    }

    .contenant_1:hover .box,
    .contenant_2:hover .box,
    .contenant_3:hover .box,
    .contenant_4:hover .box,
    .contenant_5:hover .box,
    .contenant_6:hover .box,
    .contenant_7:hover .box,
    .contenant_8:hover .box,
    .contenant_9:hover .box,
    .contenant_10:hover .box {
        width: 3%;
        padding: 10px 30px;
    }

    .contenant_1:hover,
    .contenant_2:hover,
    .contenant_3:hover,
    .contenant_4:hover,
    .contenant_5:hover,
    .contenant_6:hover,
    .contenant_7:hover,
    .contenant_8:hover,
    .contenant_9:hover,
    .contenant_10:hover
    .contenant_left {
        width: 80%;
    }

    .contenant_1:hover,
    .contenant_2:hover, 
    .contenant_3:hover, 
    .contenant_4:hover, 
    .contenant_5:hover, 
    .contenant_6:hover, 
    .contenant_7:hover, 
    .contenant_8:hover, 
    .contenant_9:hover, 
    .contenant_10:hover 
    .icone_valide {
        transform: rotate(360deg);
        transform-origin: center center;
    }

    .contenant_2 {
        @include contenant;
        transition-delay: 305ms;
        animation: fadein 4s;
        -moz-animation: fadein 4s; /* Firefox */
        -webkit-animation: fadein 4s; /* Safari et Chrome */
        -o-animation: fadein 4s; /* Opera */
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    }

    .contenant_3 {
       @include contenant;
        transition-delay: 310ms;
        animation: fadein 5s;
        -moz-animation: fadein 5s; /* Firefox */
        -webkit-animation: fadein 5s; /* Safari et Chrome */
        -o-animation: fadein 5s; /* Opera */
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    }

    .contenant_4 {
        @include contenant;
        transition-delay: 315ms;
        animation: fadein 6s;
        -moz-animation: fadein 6s; /* Firefox */
        -webkit-animation: fadein 6s; /* Safari et Chrome */
        -o-animation: fadein 6s; /* Opera */
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    }

    .contenant_5 {
        @include contenant;
        animation: fadein 7s;
        -moz-animation: fadein 7s; /* Firefox */
        -webkit-animation: fadein 7s; /* Safari et Chrome */
        -o-animation: fadein 7s; /* Opera */
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    }

    .contenant_6 {
        @include contenant;
        transition-delay: 325ms;
        animation: fadein 8s;
        -moz-animation: fadein 8s; /* Firefox */
        -webkit-animation: fadein 8s; /* Safari et Chrome */
        -o-animation: fadein 8s; /* Opera */
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    }

    .contenant_7 {
        @include contenant;
        transition-delay: 330ms;
        animation: fadein 9s;
        -moz-animation: fadein 9s; /* Firefox */
        -webkit-animation: fadein 9s; /* Safari et Chrome */
        -o-animation: fadein 9s; /* Opera */
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    }

    .contenant_8 {
        @include contenant;
        transition-delay: 335ms;
        animation: fadein 10s;
        -moz-animation: fadein 10s; /* Firefox */
        -webkit-animation: fadein 10s; /* Safari et Chrome */
        -o-animation: fadein 10s; /* Opera */
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    }

    .contenant_9 {
        @include contenant;
        transition-delay: 340ms;
        animation: fadein 11s;
        -moz-animation: fadein 11s; /* Firefox */
        -webkit-animation: fadein 11s; /* Safari et Chrome */
        -o-animation: fadein 11s; /* Opera */
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    }

    .contenant_10 {
        @include contenant;
        transition-delay: 345ms;
        animation: fadein 12s;
        -moz-animation: fadein 12s; /* Firefox */
        -webkit-animation: fadein 12s; /* Safari et Chrome */
        -o-animation: fadein 12s; /* Opera */
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    }
  
    .entree, .plat, .dessert {
        font-family: "Roboto-Regular";
        color: black;
        font-size: 15px;
        text-align: left;
        margin: 32px;
        padding-top: 25px;
        padding-bottom: 5px;
    }

    .nom_entree, .nom_plat, .nom_dessert {
        @include alimentaire;
        font-weight: bold;
        text-align: left;
        padding-top: 5px;
    }

    .ingredients {
        @include alimentaire;
        font-size: 15px;
        font-weight: normal;
        text-align: left;
        font-family: "Roboto-Regular";
        margin-top: 10px;
        color: #939393;
    }

    .soulignement {
        height: 3px;
        width: 40px;
        visibility: visible;
        position: relative;
        background-color: #99e2d0;
        top: 5px;
    }
       
    header {
        z-index: 1;
        position: relative;
    }

    .price {
        font-family: "Roboto-Regular";
        font-weight: bold;
        position: absolute;
        right:33px;
        bottom:18px;
        font-size: 15px;
    }

    /*/---Animation---/*/

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-moz-keyframes fadein {
        /* sur Firefox */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadein {
        /* sur Safari et Chrome */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-o-keyframes fadein {
        /* sur Opera */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

}
