@media only screen and (min-width:1150px) {

    h2 {
        font-size: 30px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 25px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: "Roboto-Regular";
        position: relative;
        left: 10px;
    }

    h3 {
        font-family: "Shrikhand-Regular";
        text-align: left;
        font-size: 25px;
        color: white;
        font-weight: 100;
        margin-bottom: 20px;
        margin-top: 0px;
        padding: 10px;
        font-weight: 100;
    }

    h4 {
        font-family: "Shrikhand-Regular";
        font-size: 40px;
        margin-left: 116px;
        padding-top: 50px;
    }

}
