@media only screen and (max-width: 480px) {


    body {
        margin: 0px;
    }

    h2 {
        font-size: 25px;
        margin-left: 22px;
        font-weight: bold;
        text-align: left;
        font-family: "Roboto-Regular";
        margin-top: 24px;
    }

    h3 {
        font-family: "Shrikhand-Regular";
        text-align: left;
        font-size: 20px;
        color: white;
        padding-top: 25px;
        margin: 0px;
        padding-left: 30px;
        margin-top:-40px;
        font-weight: 100;
    }

    .h4 {
        font-family: "Shrikhand-Regular";
        font-size: 23px;
        margin-left: 20px;
    }


}