@media only screen and (min-width:481px) and (max-width:1149px) {

    

    h2{        
        @include h_title;
        font-weight: bold;
        margin-bottom: 25px;
        margin-top:0px;
        font-family: "Roboto-Regular";
    }

    h3 {
        text-align: left;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 5px;
        font-family: "Shrikhand-Regular";
        padding-left: 28px;
        padding-top: 28px;
    }


h4 {
    @include h_title;
        font-family: "Shrikhand-Regular";
        color: black;
        font-weight: 100;
        margin-bottom: 8px;
        margin-left: 21px;
        font-weight: 100;
    }

h5{
    font-size:15px;
    font-family: "Roboto-Regular";
    color: black;
}
   
}