@media only screen and (min-width:481px) and (max-width:1149px) {

    

    h2, h3 {        
        @include h_title;
        font-weight: bold;
        margin-bottom: 25px;
        font-family: "Roboto-Regular";
        
    }


h4 {
    @include h_title;
        font-family: "Shrikhand-Regular";
        color: black;
        font-weight: 100;
        margin-bottom: 8px;
        margin-left: 21px;
        font-weight: 100;
    }

   
}