@media only screen and (max-width: 480px) {

    .bloc_chargement {
        position: fixed;
        width: 100%;
        height: 100%;
        font-family: "Roboto-Regular";
        font-size: 20px;
        color: black;
        text-align: center;
        z-index: 0;
        animation: loading 3s;
        opacity: 0;
    }

    @keyframes loading {
        0% {
            opacity: 1;
            z-index: 2;
        }

        70% {
            opacity: 1;
            z-index: 2;
        }

        100% {
            opacity: 0;
            z-index: 0;
        }
    }



    .section {
        background-color: #eee8e3;
        height: 885px;
        padding-top: 30px;
    }

    .loader {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 30px;
        position: relative;
    }

    .loading_spinner {
        border-radius: 50px;
        border: 6px solid rgba (255,255,255,0.4)
    }

    .loading_spinner:after {
        content: '';
        position: absolute;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #FFF;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .localisation {
        height: 40px;
        background-color: #eaeaea;
        width: 100%;
        text-align: center;
        padding-top: 25px;
        font-size: 15px;
        box-shadow: 0px 14px 0px grey;
        position: relative;
        font-family: "Roboto-Regular";
    }
    
    .bloc_resa {
        @include bloc-resa;
        background-color: #f6f6f6;
        width: 100%;
        position: relative;
    }

    .reservation {
        @include bloc-resa;
        font-size: 25px;
        font-weight: bold;
        padding-top: 25px;
        padding-bottom: 18px;
    }

    .description {
        @include bloc-resa;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 54px;
    }

    .bloc_fonctionnement {
        background-color: #f7f7f7;
    }

    .slide {
        font-family: "Roboto-Regular";
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-radius: 20px 20px 20px 20px;
        font-size: 20px;
        text-align: center;
        width: 90%;
        background-color: #f6f6f6;
        margin-left: 20px;
        position: relative;
        height: 70px;
        line-height: 74px;
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);

        i {
            color: grey;
                  margin-right: 22px;

        }
    }

    .slide--selected {
        background-color: #f5edff;

        i {
            color: #9356dc;
        }
    }
       
    .rond {
        color: #9356dc;
        font-size: 20px;
        margin-top: 10px;
    }

    .resto {
        font-size: 17px;
        font-weight: bold;
        font-family: "Roboto-Regular";
        text-align: left;
        position: relative;
        right: 18px;
        bottom: 5px;
    }


    .img_resto_1 {
        @include img_resto;
        bottom: 0px;
    }

    .img_resto_2 {
        @include img_resto;
        bottom: 163px;
    }

    .img_resto_3 {
        @include img_resto;
        bottom: 68px;
    }

    .img_resto_4 {
        @include img_resto;
        bottom: 75px;
    }


    .btn_new1, .btn_new2 {
        font-family: "Roboto-Regular";
        background-color: #99e2d0;
        color: #008766;
        justify-content: center;
        display: flex;
        width: 77px;
        height: 27px;
        border-radius: 2px 2px 2px 2px;
        font-weight: bold;
        position: absolute;
        margin-left: 260px;
        margin-top: -130px;
        line-height: 30px;
        font-size: 15px;
    }

    
    .frame {
        width: 345px;
        height: 228px;
        border-radius: 15px 15px 15px 15px;
        background-color: #ffffff;
        margin-bottom: 24px;
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
        margin-left:13px;
    }

    .icone_like_homepage :hover {
        position: relative;
        left: 275px;
        font-size: 20px;
        background-image: linear-gradient(#ff79da, #9356dc);
    }

    .icone_like_homepage  {
        position: relative;
        left: 300px;
        font-size: 20px;
        color: #717171;
    }

  
    .lieu_1 {
        @include lieu;
        right: 156px;
    }

    .lieu_2 {
        @include lieu;
        right: 162px;
    }

    .lieu_3 {
        @include lieu;
        right: 127px;
    }

    .lieu_4 {
        @include lieu;
        right: 160px;
    }

    .bloc_resto {
        background-color: #f6f6f6;
        width: 100%;
        padding-top: 57px;
    }

    .numero {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #9356dc;
        color: white;
        text-align: center;
        line-height: 30px;
        position: absolute;
        top: calc((70px - 30px) / 2);
        left: -14px;
        font-size: 17px;
    }

    .contenu {
        padding: 10px;
    }

    .img_conteneur1 {
        @include conteneur; 
        height: 165px;
    }

    .img_conteneur2 {
        @include conteneur;
        height: 154px;
    }

    .img_conteneur3 {
        @include conteneur;
        height: 154px;
    }

    .img_conteneur4 {
        @include conteneur;
        height: 154px;
    }

 }