@media only screen and (min-width:481px) and (max-width:1149px) {

    body {
        margin: 0px;
    }
   
    .bloc_chargement {
        position: fixed;
        width: 100%;
        height: 2000px;
        font-family: "Roboto-Regular";
        font-size: 20px;
        color: white;
        text-align: center;
        z-index: -1;
        animation: loading 3s;
        opacity: 0;
    }
    
    .chargement{
        background-color: black;
        height:100%;
        padding-top: 300px;

    }

    @keyframes loading {
        0% {
            opacity: 1;
            z-index: 2;
        }

        70% {
            opacity: 1;
            z-index: 2;
        }

        100% {
            opacity: 0;
            z-index: -1;
        }
    }



    section {
        background-color: #eee8e3;
    }

    .loader {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 30px;
        position: relative;
    }

    .loading_spinner {
        border-radius: 50px;
        border: 6px solid rgba(255,255,255,0.4)
    }

    .loading_spinner:after {
        content: '';
        position: absolute;
        top: -6px;
        left: -6px;
        bottom: -6px;
        right: -6px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #FFF;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

  

    .name {
        width: 200px;
        height: 200px;
    }

    .localisation {
        height: 50px;
        background-color: #eaeaea;
        width: 100%;
        text-align: center;
        padding-top: 25px;
        font-size: 20px;
        font-family: "Roboto-Regular";
        box-shadow: 0px 1px 0px grey;
    }


    .bloc_resa {
        padding-bottom: 50px;
        background-color: #f6f6f6;
        text-align: center;
        width: 100%;
    }

    .reservation {
        @include resa;
        font-weight: bold;
        padding-top: 15px;
    }

    .description {
      @include resa; 
    }
             
    .bloc_fonctionnement {
        background-color: #fff;
    }

    .slide {
        @include slide;
        background-color: #f6f6f6;
        i {
            color: grey;
        }
    }

    .slide:active {
        background-color: #f5edff;
         i {
            color: #9356dc;
        }
    }
         
    .rond {
        color: #9356dc;
        font-size: 20px;
        margin-top: 10px;
    }

    .resto {
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        font-family: "Roboto-Regular";
    }

    main {
        margin-left: 20px;
        margin-right: 20px;
    }

    .img_resto_1,
    .img_resto_3,
    .img_resto_4 {
        @include image_resto;
        position: absolute;
    }

    .img_resto_2 {
        width: 700px;
        border-radius: 20px 20px 0px 0px;
        position: relative;
        bottom:325px;
    }
       
    .btn_new1,
    .btn_new2 {
        background-color: #99E2D0;
        color: #008766;
        justify-content: center;
        display: flex;
        width: 110px;
        height: 30px;
        border-radius: 2px 2px 2px 2px;
        font-weight: bold;
        position: absolute;
        top: 30px;
        right: 30px;
        line-height: 30px;
        font-family: "Roboto-Regular";
    }

    .frame {
        width: 700px;
        height: 400px;
        border-radius: 20px 20px 20px 20px;
        background: #ffffff;
        margin: 0 0 15px 0;
        margin-bottom: 50px;
        position: relative;
        left: 155px;
        bottom: 18px;
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
    }

    .icone_like_homepage_contour {
        text-align: right;
        position: absolute;
        top: 319px;
        left: 609px;
        font-size: 30px;
        background-image: linear-gradient(#A7AAAD, #A7AAAD);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .icone_like_homepage:hover {
        text-align: right;
        position: absolute;
        top: 319px;
        left: 609px;
        font-size: 30px;
        background-image: linear-gradient(#ff79da, #9356dc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .icone_like_homepage {
        text-align: right;
        position: absolute;
        top: 323px;
        left: 613px;
        font-size: 21px;
        color: white;
    }
      
    .lieu_1,
    .lieu_2,
    .lieu_3,
    .lieu_4 {
        text-align: left;
        font-weight: normal;
        padding-bottom: 145px;
        line-height: 35px;
        font-size: 20px;
        font-family: "Roboto-Regular";
    }

    .bloc_resto {
        width: 100%;
        position: relative;
        padding-top: 30px;
        padding-bottom:15px;
    }

    .numero {
        display: block;
        width: 30px;
        height: 30px;
        border: solid;
        border-radius: 100%;
        background-color: #9356DC;
        color: white;
        text-align: center;
        line-height: 30px;
        position: absolute;
        top: calc((70px - 30px)/2);
        left: -15px;
    }

    .contenu {
        padding: 30px;
    }

    .img_conteneur1,
    .img_conteneur2,
    .img_conteneur3,
    .img_conteneur4,
    .img_conteneur5
    {
        width: 100%;
        height: 290px;
        position: relative;
        border-radius: 20px 20px 0px 0px;
        overflow:hidden;

    }
        
    }
